#projects {
    padding: 40px 0;
    min-height: 100vh;  /* 100% de la hauteur de la fenêtre de visualisation */
    width: 100%;  /* 100% de la largeur */
    display: flex;
    align-items: center;  /* Centrage vertical des éléments internes */
    justify-content: center;  /* Centrage horizontal des éléments internes */
}

.project-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
}
