@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.project-container {
    width: 100vw; 
    height: 90vh; 
    text-align: left; 
    padding-top: 20px; 
    padding-left: 1%; 
    flex-direction: column;
    justify-content: center; 
    background-color: #F2F2F2;
}

.project-image {
    cursor: pointer;
    transition: transform 0.3s; 
    width: 30%;   
    height: 90%; 
    object-fit: cover; 
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 5px 9px #593312;
    flex: 1;
    margin: 0 1%;
    border-radius: 12px; 

}

.project-image:hover {
    transform: translateY(-10px); 
}

