.about-container {
    padding: 40px 0;
    background-color: #e6e6e6;
    min-height: 100vh;  /* 100% de la hauteur de la fenêtre de visualisation */
    width: 100%;  /* 100% de la largeur */
    display: flex;
    align-items: center;  /* Centrage vertical des éléments internes */
    justify-content: center;  /* Centrage horizontal des éléments internes */
}

.about-container {
    display: flex;
    justify-content: space-between; /* Équilibre l'espace entre chaque section */
    flex-wrap: wrap; /* Pour une meilleure responsivité sur petits écrans */
    padding: 20px 0;
}

.about-section {
    flex: 1; /* Chaque section prendra 1/3 de la largeur */
    margin: 0 15px; /* Un peu d'espace entre chaque section */
    min-width: 200px; /* Définir une largeur minimale pour la responsivité */
}

h2 {
    font-weight: bold;
    margin-bottom: 10px; /* Espace entre le titre et le paragraphe */
}


