@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    scroll-behavior: smooth;
 }
 
 #contact {
    width: 100vw;
    height: 40vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: #F2F2F2;
}

.contact-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 1rem; 
}


h2{
    color: #593312;
    
}

.mail-button, .phone-button {
    text-decoration: none; 
    color: #8C633F; 
}

.mail-button:hover {
    text-decoration: none; 
    color: #593312; 
}

.phone-button:hover {
    text-decoration: none; 
    color: #593312; 
}



