html {
    scroll-behavior: smooth;
 }
 
 #contact {
    width: 100vw; /* 100% de la largeur du viewport */
    height: 40vh; /* 100% de la hauteur du viewport */
    display: flex; /* Activation de flexbox */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */
    background-color: #F2F2F2;
}

.contact-container {
    display: flex;
    flex-direction: column; /* Organisez les éléments les uns sous les autres */
    justify-content: center; /* Centrage vertical */
    align-items: center; /* Centrage horizontal */
    gap: 1rem; /* Espacement entre les éléments, comme les boutons mail et téléphone */
}


h2{
    color: #593312;
    
}

.mail-button, .phone-button {
    text-decoration: none; 
    color: #8C633F; 
}

.mail-button:hover {
    text-decoration: none; 
    color: #593312; 
}

.phone-button:hover {
    text-decoration: none; 
    color: #593312; 
}



