@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-header {
    width: 100%;
    padding: 20px 0;
    background-color: #F2F2F2;

}

.main-header nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}

.category-item {
    margin: 0 10px; 
}

.main-header nav a {
    color: #593312;
    text-decoration: none;
    font-size: 2vb;
    padding: 1vb 1vb ;
    display: block;
    transition: color 0.2s ease, font-size 0.2s ease; 
}


.main-header nav a:hover {
    font-size: 17px; 
    color: #8C633F; 
}